{{>original}}
<br>
<div class="companyMain row">    
    <div class="col-lg-2 col-md-3 col-sm-2 impactFinderLogo">{{impactFinderLogo}}</div>
    <div class="col-lg-4 col-md-6 col-sm-8 impactFinderName">{{profile.[0].finder_name}}
        {{#if profile.[0].vetted}}
        <i class="fas fa-check vetted"></i>
        {{/if}}
    </div>
    {{!-- <div class="col-lg-1 col-md-3 col-sm-2"></div> --}}
    <div class="col-lg-5 col-md-3 col-sm-2" style="display:flex; justify-content:space-between; align-items:center">
        <div><a href="" style="text-align:right;font-size:20px;text-decoration: underline;"><p>To impact Finder's project board</p></a></div>
        <button style="font-size:20px;font-weight:bold;background:#FFB545;color:#07665b;padding:5px;border-radius:10px;border:none">Connect with Impact Finder</button>
    </div>
</div>
<div class="impactFinder">
    <div class="impactFinderInfo">
        <div class="impactFinderInfoLeft">
            {{!-- <h3 style="display:inline-block">{{finder_name}}</h3> --}}
            {{!-- {{#if isCurrentUserBoolean}} --}}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:right;margin-right:5px;">
            Edit
            </button>   
            {{!-- {{/if}} --}}
            {{!-- Edit Form --}}
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Edit your profile</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form action="/finderprofile" method="put" id="saveProfile">
                                <div class="modal-body">
                                    <label for="impactFinderInfo">{{profile.[0].finder_name}} information</label>
                                    <br>
                                    <textarea type="text" name="impactFinderInfo" required>{{profile.[0].finder_description}}</textarea>
                                    <br>
                                    <label for="small">Impact Finder Size</label>
                                    <br>
                                    <input type="text" name="impactFinderSize" id="impactFinderSize" value="{{profile.[0].finder_size}}">
                                    {{!-- <input type="radio" name="impactFinderSize" id="small" value="Small">
                                    <label for="small">Small</label>

                                    <input type="radio" name="impactFinderSize" id="medium" value="Medium">
                                    <label for="medium">Medium</label>
                                    <input type="radio" name="impactFinderSize" id="large" value="Large">
                                    <label for="large">Large</label> --}}
                                    <br>
                                    <label for="impactFinderPhone">Phone: </label>
                                    <input type="text" name="impactFinderPhone" placeholder="phone" value="{{profile.[0].telephone_number}}"required style="margin-bottom:5px;padding:5px"></textarea>
                                    <br>
                                    <label for="impactFinderPhone">Mobile: </label>
                                    <input type="text" name="impactFinderMobile" placeholder="phone" value="{{profile.[0].mobile_number}}"required style="margin-bottom:5px;padding:5px"></textarea>
                                    <br>
                                    <label for="impactFinderEmail">Email:</label>
                                    <input type="text" name="impactFinderEmail" placeholder="email" value="{{profile.[0].email}}" required style="margin-bottom:5px;padding:5px"></textarea>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-primary" value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {{!-- Edit Form --}}
                <div class="profileInfo" id="FinderInfo">
                    <label for="impactFinderInfo">Impact Finder information</label>
                    <br>
                    <p>{{profile.[0].finder_description}}</p>
                    <p style="display:inline-block">Size:</p>
                    {{profile.[0].finder_size}}
                {{!-- </div>
                <div class="profileElement"> --}}
                    <br>
                    <label for="impactFinderContact">Impact Finder Contact</label>
                    <br>
                    <p style="display:inline-block">Telephone:</p>
                    {{profile.[0].telephone_number}}
                    <br>
                     <p style="display:inline-block">Mobile:</p>
                    {{profile.[0].mobile_number}}
                    <br>
                     <p style="display:inline-block">Email:</p>
                    {{profile.[0].email}}
                    <br>
                </div>
        </div>
        <br>
        <div class="impactFinderInfoLeft">
            <h3 style="display: inline-block;">More About {{profile.[0].finder_name}}</h3>
            {{!-- {{#if isCurrentUserBoolean}} --}}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:right;">
            Edit
            </button> 
            {{!-- {{/if}} --}}
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Edit your profile</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         <form action="/finderprofilecustomfield" method="put">
                            <h3 style="display:inline-block">Custom Fill Area</h3>
                            <button class="btn btn-warning addButton" type="submit">Add</button>
                            <br>
                            <label for="customeFill">
                                <input type="text id=customFillTitle" name="customFillTitle" placeholder="Custom Fill Title">
                            </label>
                            <br>
                            <textarea type="text" name="customFillText" placeholder="Custom Fill Area" required></textarea>
                            
                        </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Save </button>
                        </div>
                    </div>
                </div>
            </div>
            {{#each profile.[1]}}
                <h3>{{customfield_title}}</h3>
                {{customfield_content}}
            {{/each}}
            {{!-- <div class="profileElement">
                <input type="text" placeholder="Custom Fill Title" style="margin-bottom:5px;padding:5px"></input>
                <textarea placeholder="Custom Fill Me In" style="margin-bottom:5px;padding:5px"></textarea>
            </div>
            <div class="profileElement">
                <input type="text" placeholder="Custom Fill Title" style="margin-bottom:5px;padding:5px"></input>
                <textarea placeholder="Custom Fill Me In" style="margin-bottom:5px;padding:5px"></textarea>
            </div> --}}
        </div>
    </div>
    <div class="impactFinderInfo">
        <div class="impactFinderInfoRight">
            <i class="fas fa-pencil"></i>
            <p style="float:right">Edit</p>
            <div class="profileElement">
                <h3>Question1</h3>
                <textarea></textarea>
            </div>
            <div class="profileElement">
                <h3>Question2</h3>
                <textarea></textarea>
            </div>
            <div class="profileElement">
                <h3>Question3</h3>
                <textarea></textarea>
            </div>
                <div class="profileElement">
                <h3>Submit Your question</h3>
                <textarea></textarea>
                <button class="btn btn-warning submitButton" style="margin-top:10px;float:right">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="reviews">
        <div class="reviewElement"><h3>Review1</h3></div>
        <div class="reviewElement"><h3>Review2</h3></div>
        <div class="reviewElement"><h3>Review3</h3></div>
</div>
{{>copyright}}