
{{>original}}

<br>
<div class="firstRowOfSeekerProfile">    
    <div class="impactSeekerDiv">
        {{profile.[0].first_name}} {{profile.[0].surname}}
    </div>
    {{!-- <div class="col-lg-1 col-md-3 col-sm-2"></div> --}}
    <div class="impactSeekerDiv">
        <button style="font-size:20px;font-weight:bold;background:#FFB545;color:#07665b;padding:5px;border-radius:10px;border:none">Connect with Impact Seeker</button>
    </div>
</div>
<div class="impactSeeker">
    <div class="impactSeekerInfo">
        <div class="impactSeekerInfoLeft">
            {{#if isCurrentUserBoolean}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:right;margin-right:5px;">
                    Edit
                </button>   
            {{/if}}
            {{!-- Edit Form --}}
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Edit your basic information</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form id="saveProfile">
                                <div class="modal-body">
                                    <label for="impactSeekerInfo">{{profile.[0].seeker_name}} Name</label>
                                    <br>
                                    <input type="text" name="impactSeekerName" value="{{profile.[0].seeker_name}}" required></input>
                                    <br>
                                    <label for="impactSeekerHomeNumber">Home number: </label>
                                    <input type="number" name="impactSeekerHomeNumber" value="{{profile.[0].home_number}}"required></input>
                                    <br>
                                    <label for="impactSeekerMobileNumber">Mobile number: </label>
                                    <input type="number" name="impactSeekerMobileNumber" value="{{profile.[0].mobile_number}}"required></input>
                                    <br>
                                    <label for="impactSeekerEmail">Email:</label>
                                    <input type="text" name="impactSeekerEmail" value="{{profile.[0].email1}}" required></input>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    {{#if profile.[0].seeker_name}}
                                    <button data-bs-dismiss="modal"  class="btn btn-primary" id="SaveProfileEdits">Save</button>
                                    {{else}}
                                    <button data-bs-dismiss="modal" class="btn btn-primary" id="CreateProfileEdits">Create</button>
                                    {{/if}}
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            {{!-- Edit Form --}}
            <div class="profileInfo" id="SeekerInfo">
                <h2>Basic information</h2>
                <hr>
                <p style="display:inline-block;width:200px">Current Company: </p>
                {{profile.[0].current_company}}
                <br>
                <p style="display:inline-block;width:200px">Mobile:</p>
                {{profile.[0].mobile_number}}
                <br>
                <p style="display:inline-block;width:200px">Email:</p>
                {{profile.[0].email1}}
               
            </div>
        </div>
        <br>
        <div class="impactSeekerInfoLeft">
                {{#if isCurrentUserBoolean}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCustomfields" style="float:right;">
                Add
                </button> 
                {{/if}}
                <div class="modal fade" id="modalCustomfields" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Custom Field</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                            <form id="finderCustomField">
                                <h5 style="display:inline-block">Click'add' to an additional field to your profile</h5>
                                <button class="btn btn-warning addButton" id="AddFinderCustomField">Add</button>
                                <br>
                                <label for="customeFill">
                                    <input type="text id=customFillTitle" name="customFillTitle" placeholder="Custom Fill Title">
                                </label>
                                <br>
                                <textarea type="text" name="customFillText" placeholder="Custom Fill Area" required></textarea>
                                
                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCustomfields">Save </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                <h2>More About {{profile.[0].seeker_name}}</h2>
                <hr>
                {{#each profile.[1]}}
                    <div style="margin-bottom:10px">
                        <h4>{{customfield_title}}</h4>
                        {{customfield_content}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="impactSeekerInfo">
        <div class="impactSeekerInfoRight">
        <div class="profileInfo">
                {{#if isCurrentUserBoolean}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editEducation" style="float:right;margin-right:5px;">
                    Edit
                </button>   
                {{/if}}
               <div class="modal fade" id="editEducation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Edit your education background</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <form id="saveProfile">
                                <div class="modal-body">
                                    <label for="impactSeekerHighSchoolDegree">High School Degree</label>
                                    <br>
                                    <select id="impactSeekerHighSchoolDegree"   name="impactSeekerHighSchoolDegree">
                                        <option value="true">Attained</option>
                                        <option value="false">Not attained</option>
                                    </select>
                                    <br>
                                    <label for="impactSeekerUniversityDegree">University Degree</label>
                                    <br>
                                    <select id="impactSeekerUniversityDegree"   name="impactSeekerUniversityDegree">
                                        <option value="true">Attained</option>
                                        <option value="false">Not attained</option>
                                    </select>
                                    <br>
                                    <label for="impactSeekerOtherCertification">Other Certifications</label>
                                    <textarea name="OtherCertification" value="{{profile.[2].[0].other_certifications}}" required></textarea>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    {{#if profile.[0].seeker_name}}
                                    <button data-bs-dismiss="modal"  class="btn btn-primary" id="SaveProfileEdits">Save</button>
                                    {{else}}
                                    <button data-bs-dismiss="modal" class="btn btn-primary" id="CreateProfileEdits">Create</button>
                                    {{/if}}
                                </div>
                            </form>
                    </div>
                </div>
            </div>
            <h2>Education background: </h2>
            <hr>
            <p style="display:inline-block;width:280px">Attained High School degree: </p>
            {{profile.[2].[0].highschool_degree}}
            <br>
            <p style="display:inline-block;width:280px">Attained Univeristy degree: </p>
            {{profile.[2].[0].university_degree}}
            <br>
            <p>Other certifications: </p>
            {{profile.[2].[0].other_certifications}}
        </div>
        </div>
        <br>
        <div class="impactSeekerInfoRight">
        <div class="profileInfo">        {{#if isCurrentUserBoolean}}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#seekerExperienceForm" style="float:right;">
                Add
                </button> 
                {{/if}}
                <div class="modal fade" id="seekerExperienceForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Experience</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                            <form id="seekerExperience">
                                <label for="seekerExperience">
                                <textarea id="seekerExperience" name="seekerExperience"></textarea>
                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCustomfields">Save </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
            </div>
            <h2>Experience: </h2>
            <hr>
            <p>{{profile.[3].[0].experience}}</p>
        </div>
        </div>
    </div>
</div>
{{>copyright}}